$primary-color: #000;
$body-color: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $body-color;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-items {
  align-items: center;
}

.width-50 {
  width: 50%;
}

.unstyled-list {
  list-style: none;
}

main {
  .leaderboard {
    width: 90%;
    gap: 3rem;

    .margin-bottom {
      margin-bottom: 1rem;
      padding: 0;
    }

    .leaderboard-title > *::first-letter {
      text-transform: uppercase;
    }
    .spinner {
      width: 40px;
      height: 40px;
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      animation: spin 1s infinite linear;
      display: none;
      margin: auto;
    }
    .display-leaderboard {
      .leaderboard-title {
        .btn-refresh {
          padding: 0 1rem;
        }
      }

      .leaderboard-body {
        border: 1px solid #000;
        .list-score {
          .score-item {
            padding: 1rem 0;

            &:nth-child(even) {
              background-color: #eee;
            }
          }
        }
      }
    }

    .add-to-leaderboard {
      .leaderboard-body {
        .input {
          margin: 0 0 1rem;
          padding: 1rem;
          width: 100%;
        }

        .submit-container {
          .btn-submit {
            padding: 1rem;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
